<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    <meta name="description" content="{{ .Site.Params.description }}" />
    <link rel="canonical" href="" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="article:modified_time" content="2021-05-24T08:02:23+00:00" />
    <meta property="og:image" content="{{ .Params.featured_image | absURL }}" />
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:data1" content="2 minutes">
    {{ $styleCSS := resources.Get "css/style.css" | fingerprint }}
    {{ $fontsCSS := resources.Get "css/fonts.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" />
    <link rel="stylesheet" href="{{ $fontsCSS.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    {{ partial "head_custom.html" . }}
  </head>
    <body>
      <header class="site-header">
        <section class="top-nav">
          <div>
            <a href="{{ .Site.BaseURL }}" class="brand">{{ .Site.Title }}</a>
          </div>
          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
          <div class='menu-button'></div>
        </label>
          <ul class="menu">
            {{ range .Site.Menus.main }}
              <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </section>
      </header>


        <nav class="nav">
          <ul class="menu">
          </ul>
        </nav>
      </header>
    <hr />
    {{ if and (.Site.Params.Banner) (ne .Site.Params.Banner "") }}
    <div class="banner">
    <center>
    {{.Site.Params.Banner | markdownify}}
    </center>
    </div>
    <hr />
    {{ end }}