<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    {{- $description := .Params.description | default (.Summary | plainify | truncate 200) | default .Site.Params.description -}}
    <meta name="description" content="{{ $description }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.Language.Locale | default "en_US" }}" />
    <meta property="og:type" content="{{ cond .IsPage "article" "website" }}" />
    <meta property="og:title" content="{{ cond .IsHome .Site.Title .Title }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />{{ end }}
    {{ with .Params.featured_image }}<meta property="og:image" content="{{ . | absURL }}" />{{ end }}
    <meta name="twitter:card" content="summary_large_image">
    {{ if .IsPage }}<meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="{{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }}">{{ end }}
    {{ $styleCSS := resources.Get "css/style.css" | minify | fingerprint }}
    {{ $fontsCSS := resources.Get "css/fonts.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}" />
    <link rel="stylesheet" href="{{ $fontsCSS.RelPermalink }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{ partial "head_custom.html" . }}
  </head>
    <body>
      <header class="site-header">
        <section class="top-nav">
          <div>
            <a href="{{ .Site.BaseURL }}" class="brand">{{ .Site.Title }}</a>
          </div>
          <input id="menu-toggle" type="checkbox" />
          <label class='menu-button-container' for="menu-toggle">
          <div class='menu-button'></div>
        </label>
          <ul class="menu">
            {{ range .Site.Menus.main }}
              <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </section>
      </header>

      {{/* Banner section */}}
      {{ if and (.Site.Params.Banner) (ne .Site.Params.Banner "") }}
      <div class="banner">
        <div class="banner-content">
          {{.Site.Params.Banner | markdownify}}
        </div>
      </div>
      {{ end }}