{{/* slideviewer shortcode: embed full slide viewer from a slides page */}}
{{- $src := .Get "src" -}}
{{- $slidePage := site.GetPage $src -}}

{{- if $slidePage -}}
  {{- $slidesCSS := resources.Get "css/slides.css" | fingerprint -}}
  <link rel="stylesheet" href="{{ $slidesCSS.RelPermalink }}" />
  {{ partial "slideviewer.html" (dict "page" $slidePage "id" (printf "sv-%s" ($slidePage.File.ContentBaseName | urlize))) }}
  {{- $viewerJS := resources.Get "js/slideviewer.js" | fingerprint -}}
  <script src="{{ $viewerJS.RelPermalink }}" defer></script>
{{- else -}}
  <p><em>Presentation not found: {{ $src }}</em></p>
{{- end -}}
